main {
	display: flex;
	justify-content: center;
}

h1 { 
	font-family: serif; 
	color: #377ba8; 
	margin: auto; 
	padding: 10px;
	font-size: 8em;
	text-align: center;
	}

img {
	width: 400px;
	height: auto;
	border-radius: 20%;
	margin: 10px;
	}