<!doctype html>
<head>
<title>Práctica 2 DAI</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_img.css') }}">
</head>
<body>
	<header>
		<h1>Prueba de mandelbrot</h1>
	</header>
	<main>
		<form action="/mandelbrot" method="get">
	    <label for="x1">x1</label>
		<input type="text" id="x1" name="x1"><br/>
		<label for="x2">x2</label>
		<input type="text" id="x2" name="x2"><br/>
		<label for="y1">y1</label>
		<input type="text" id="y1" name="y1"><br/>
		<label for="y2">y2</label>
		<input type="text" id="y2" name="y2"><br/>
		<label for="iteraciones">Iteraciones</label>
		<input type="text" id="iteraciones" name="iteraciones"><br/>
		<label for="ancho">Ancho</label>
		<input type="text" id="ancho" name="ancho"><br/>
		<input type="submit" value="Enviar" />
</form>
	</main>
	<footer>	
	</footer>
</body>